.resourceContainer {
  display: flex;
  /* flex: 1; */
  background-color: grey;
  color: white;
  flex-direction: column;
}

.resourceHeader {
  display: flex;
  flex-direction: row;
}

.resourceButtonsContainer {
  display: flex;
  /* flex-direction: row; */
}

.resourceButton {
  flex: 1;
  text-align: center;
  /* background-color: red; */
}
